/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C */

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}



/**** fonts ****/
@font-face {
    font-family: LubalinGraphStd;
    src: url('../fonts/ITC_Lubalin_Graph/OpenType_Std/LubalinGraphStd-Medium.otf') format("opentype");
}

@font-face {
    font-family: LubalinGraphStd-Bold;
    src: url('../fonts/ITC_Lubalin_Graph/OpenType_Std/LubalinGraphStd-Bold.otf') format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: HelveticaNeueLTStd-Roman;
    src: url('../fonts/Helvetica_Neue/OpenType_Std/HelveticaNeueLTStd-Roman.otf') format("opentype");
    font-weight: bold;
}

/*BEGIN jQm theme overrides*/

/*all header titles*/
.ui-title, .separate-top {
     font-family: LubalinGraphStd,Helvetica,Arial,sans-serif !important;
}

.ui-header {
    height: 108px;
}

.ui-header .ui-title {
    margin: 0px;
    overflow: visible;
}

/*NOTE: this will change loading boxes globally*/
.ui-loader-verbose {
    margin-left: 150px;
    margin-top: 100px;
    padding: 0px;
}
.ui-loader-default {
    opacity: .88;
    margin-left: -150px;
    margin-top: -150px;
}
/*END jQm theme overrides*/

#header h1 img {
    height:35px;
    vertical-align: bottom;
}

#splashScreen {
    background:url(../img/logo_med.png) no-repeat center top; /* 170px x 200px */
    position:absolute;
    left:0;
    top:0;
    /*
    height:50px;
    width:225px;
    */
    text-align:center;
    min-height: 100%;
}

#splashScreen div.app-title {
    font-family: LubalinGraphStd,Helvetica,Arial,sans-serif;
    color: #efd5a8;
    font-size:32px;

    position:absolute;
    left:20px;
    top:320px;
    height:250px;
    width:225px;
    text-align:left;
    text-transform:uppercase;
}


#searchScreen {
    width: 100%;
    /*background: url("../img/black_bg.jpg") repeat-x;*/
    background-color: rgba(0, 0, 0, 0);
}

#searchScreen .ui-content {
    background:none;
    padding: 0px;
}

#searchScreen .search-logo-container {
    padding-top: 100px;
}

#searchScreen .search-info-container {
    width:85%;
    font-family: LubalinGraphStd,Helvetica,Arial,sans-serif;
    color: #808080;
}

#searchContainer {
    width:85%;
    padding-top: 5px;
    padding-left: 5px;
    /*force the GPU to render the searchContainer for better performance*/
    -webkit-transform: translatez(360);
}

#searchResultContainer .searchResultQuestion{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 25px;
    text-shadow: 1px 1px 1px #111;
    /*light blue*/
    background: #37b9f2;
}

#searchResultContainer .searchResultAnswer{
    padding-left: 5px;
}

#searchResultContainer .searchResultHead {
    font-size: 24px;
}

#searchResultContainer .searchResultLighter {
    color: #696868;
    font-size: 14px;
}

#searchResultContainer .searchResultDetails {
    text-align: left;
    margin-left: 30px;
}





.logoWrapper {
    text-align: center; 
    position: relative; 
    overflow: hidden; 
    padding: 0px 20px;
    float: none;
}

.logoWrapper #logo {
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin-top:50%;
}

.logoWrapper #searchImg {
    width: 40%; 
    padding-bottom: 20px; 
    opacity: .6; 
    max-width: 250px;
}
.watsonThinkingImg {
    width: 100%;
    height: 100%;
    max-width: 300px;
    min-width: 250px;
    min-height: 250px;
    /*padding-bottom: 20px;*/ 
    background: url(../img/watson_thinking_sm.gif) no-repeat center;
    box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.9);
}


/*.ui-icon-microphone  { background:  url(../images/66-microphone.png) 50% 50% no-repeat;  background-size: 12px 24px; }*/
.ui-icon-microphone  { 
    background:  url(../img/microphone-2.png) 50% 50% no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.ui-btn-icon-notext {
    width: 30px;
    height: 30px;
}